:host {
    grid-area: content;
    .appartment {
        background-color: var(--background-color);
        border-collapse: collapse;
        padding-bottom: 30px;
        position: relative;
        display: contents;
        flex-direction: column;
        align-content: center;
        margin: 0;
        margin-right: 100%;
        &-card {
            width: 45%;
            display: flex;
            flex: 1;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--background-color);
            background-color: white;
            color: var(--background-color);
            padding: 8px;
            text-align: left;
            border-bottom: 20px solid #2b4253;
        }
        &-details {
            flex: 3;
            flex-direction: row;
            background-color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--background-color);
            align-content: center;
            padding: var(--padding-one);
        }
        &-header {
            display: flex;
            flex-direction: row;
            background: #2b425373;
            justify-content: space-between;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}