:host {
    grid-area: content;

    .appartment {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: var(--point-four-rem-padding);
        &-card {
          display: flex;
          flex-direction: row;
          flex: 1;
          & img {
            width: 360px;

          }
        }
        &-details {
            background: var(--background-color-dark);
            flex-direction: row;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--background-color);
            align-content: center;
            padding: var(--padding-one);
            width: 400px;
        }
        &-header {
            display: flex;
            flex-direction: row;
            background: #2b425373;
            justify-content: space-between;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
