:host {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-one-rem);

  & .icon {
    width: 13px;
    height: 15px;
    fill: var(--text-color);
    padding-right: 0.2rem;
  }

  & .card {
    padding: var(--point-four-rem-padding);
    background-color: var(--background-color);
    width: 60%;
  }

  & .header {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: solid 1px var(--background-color-dark-emphasis);
    margin-bottom: var(--point-four-rem-padding)
  }

  & .description {
    width: 90%;
    padding: var(--point-four-rem-padding) 0;
  }
}
