:host {
  .display {
    display: grid;
    height: 100%;
    grid-template-columns:1fr;
    grid-template-areas:
      "header header header"
      "content content content"
      "footer footer footer";
    grid-template-rows: 4rem 1fr 3rem;
    background-color: var(--background-color-dark-emphasis)
  }

}
