<div class="header">
  <div class="header-title">
    <p>Viajes 3B</p>
  </div>
</div>
<div class="searcher-container">
  <p class="title">{{ "home.searcher.title" | translate }}</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="form-field">
      <label class="label" for="neighborhood">{{
        "home.searcher.neighborhood" | translate
      }}</label>
      <select class="input" formControlName="neighborhood" id="neighborhood">
        <option
          *ngFor="let neighborhood of neighborhoods"
          [value]="neighborhood"
        >
          {{ neighborhood }}
        </option>
      </select>
    </div>
    <div class="form-field">
      <label class="label" for="pax">{{ "home.searcher.pax" | translate }}</label>
      <input class="input" id="pax" formControlName="pax" type="number" />
    </div>
    <div class="form-field">
      <label class="label" for="tag">{{
        "home.searcher.tag" | translate
      }}</label>
      <ng-multiselect-dropdown
        [placeholder]="'home.searcher.select' | translate"
        [data]="tags"
        formControlName="tags"
        [settings]="dropdownSettings"
        class="input"
      >
      </ng-multiselect-dropdown>
    </div>


    <button class="form-button">Buscar</button>
  </form>
</div>
