/* You can add global styles to this file, and also import other style files */

:root {
    // Colors
    --primary-color: #dceff5;
    --white-color: #fff;
    --red-color: #f00;
    --custom-color: #dceff5;
    --background-color: #18242e;
    --text-color: #ffffff;
    --text-header-color: aqua;
    --background-color-dark: #4c7594;
    --background-color-dark-emphasis: #2b4253;
    // Padding
    --medium-pdding: 12%;
    --point-four-rem-padding: 0.4rem;
    // margin
    --margin-one-rem: 1rem;
    // Sizes
    --icon-width-default: 2rem;
    --icon-height-default: 2rem;
    // Default classes
    .icon {
        width: var(--icon-width-default);
        height: var(--icon-height-default);
    }
    &>* {
        margin: 0;
        padding: 0;
    }
    p {
        margin: 0;
        padding: 0;
        color: var(--text-color);
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
