:host {
    grid-area: footer;
    footer {
        display: flex;
        justify-content: center;
        min-height: 100%;
        background-color: var(--background-color);
        padding: 10px var(--medium-pdding);
        color: var(--text-color);
        text-align: center;
        font-family: "sans-serif", sans-serif;
        font-weight: normal;
        font-size: 15px;
        & a {
            padding: var(--point-four-rem-padding);
            &:link {
                color: var(--text-color);
            }
            &:visited {
                color: var(--text-color);
            }
            &:hover {
                fill: var(--white-color);
            }
        }
    }
}